html[b-x4pujmuo74], body[b-x4pujmuo74] {
    background-color: var(--bg-color);
    /*color: white;*/
    color: var(--primary-color);

    transition: background-color .5s, color .5s;
}

:root[b-x4pujmuo74],
:root.darkMode[b-x4pujmuo74] {
    --bg-color: #06191D;
    --primary-color: #FFF;
    --secondary-color: #D8A858;
}
:root.lightMode[b-x4pujmuo74] {
    --bg-color: #ffffff;
    --primary-color: #000;
    --secondary-color: #D8A858;
}

