@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@

    <main>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="#">
                <img src="favicon.svg" width="30" height="30" style="padding-left: 10px" class="d-inline-block align-top" alt="">
            </a>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>