@page "/Home"
@using BlazorBrandstof.Repositories

<PageTitle>Home</PageTitle>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>Bon</h2>
        </div>
        <div class="col">
            <h2>Warme Dranken</h2>
            @foreach (var product in ProductRepo.GetAll())
            {
                <div class="col p-1">
                    <button type="button" class="btn btn-primary btn-lg">@product.Name $@product.Price</button>
                </div>
            }
        </div>
    </div>
</div>