@page "/"
@inject NavigationManager NavManager
@using BlazorBrandstof.Repositories

<div class="container">
    <div class="form-container">
        <h3>Log in</h3>

        <form method="post" @onsubmit="Submit">
            <label for="username">Username:</label>
            <input type="text" @bind="Model.Username">
            <br>
            <label for="password">Password:</label>
            <input type="password" @bind="Model.Password">
            <br>
            <button type="submit">Log in</button>
        </form>

        @if (IncorrectLogin)
        {
        <p class="error-message">Incorrect username or password</p>
        }
    </div>
</div>

@code 
{
    public LoginInfo Model { get; set; }
    public bool IncorrectLogin = false;

    protected override void OnInitialized()
    {
        Model ??= new LoginInfo();
    }

    private void Submit()
    {
        if (UserRepo.Verify(Model.Username!, Model.Password!))
        {
            NavManager.NavigateTo("/Home");
        }
        else
        {
            IncorrectLogin = true;
        }
    }

    public class LoginInfo
    {
        public string? Username { get; set; }
        public string? Password { get; set; }
    }
}